
.hole-page{
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    width: 98vw;
    justify-content: center;
    align-items: center;
}

.header{
    min-height: 25vh;
    width: 98vw;
    padding: 0;
    margin-bottom: clamp(20px, 10vh, 80px) ;
    grid-template-columns: 100vw;
    grid-template-rows: 5vh 10vh;
    grid-template-areas: 'name' 'points';
}

.gameName{
    grid-area: name;
    min-width: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TITLE : 2048 */
h1{
    padding: 10px 10px 10px 10px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: clamp(20px, 3vh, 50px);
    background-color: rgb(167,76,126);
    border: 2px solid rgba(255, 228, 196, 0.616);
}

.pointsTable{
    grid-area: points;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: clamp(100px, 15vh, 400px);
    margin-bottom: clamp(20px, 5vh, 80px) ;
    justify-content: center ;
    align-items: center;
}
.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 5vw, 100px);
    margin: 10px;
    border: 2px solid rgba(255, 228, 196, 0.616);
}
/* handles the boxes with score info */
span{
    line-height: 120%;
    margin: 0px;
    width: 100%;
    font-size: clamp(12px, 1.5vh, 30px);
    font-weight: 500;
    text-align: center;
    border: 1px solid rgba(255, 228, 196, 0.616);
    background-color: rgba(255, 228, 196, 0.712);
}
.mat-raised-button{
    background-color:rgba(231, 171, 98, 0.712);
    margin: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    z-index: 2;
}

.gameTable{
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: clamp(300px, 51vh, 600px);
    justify-content: center;
    align-items: center;
}
/* this mask exist to cover area where its possible to swipe finger in touch screen devices */
.mask{
    height: clamp(400px, 60vh, 800px);
    width: 100%;
    position: absolute;
    z-index: 1;
}