<div class="wholePage">
    <div class="header">

        <div class="gameName">
            <h1>2048</h1>
        </div>
        <div class="points">
            <div class="pointsTable">
                <span> Total Points </span>
                <span>{{ totalPoints }}</span>
            </div>
            <div class="pointsTable">
                <span> Your Record </span>
                <span>{{ yourRecord }}</span>
            </div>
            <div>
                <button mat-raised-button (click)="resetGame()">Reset Game</button>
            </div>
        </div>
        <div class="rules">
            <p>
                Use as setas <mat-icon>arrow_back</mat-icon>, <mat-icon>arrow_downward</mat-icon>, <mat-icon>arrow_forward</mat-icon> and <mat-icon>arrow_upward</mat-icon> para controlar a direção para onde os bloquinhos serão jogados.
            </p>
            <p>
                Quando dois bloquinhos de mesmo valor se chocam, eles se somam.
            </p>
            <p>
                Seu objetivo é chocar os bloquinhos até chegar num cujo valor seja 2048. Ou mais ;)
            </p>
        </div>
    </div>
    
    <div class="gameTable">
        <app-box [curB]="curB"
    [quantityes]="quantityes"
    [popAnimation]="popAnimation"
    ></app-box>
    </div>
</div>