<div class="wholePage">
    <div class="points">

        <div class="pointsTable">
            <span> Total Points </span>
            <span>{{ totalPoints }}</span>
        </div>
        <div class="pointsTable">
            <span> Your Record </span>
            <span>{{ yourRecord }}</span>
        </div>
        <div>
            <button mat-raised-button (click)="resetGame()">Reset Game</button>
        </div>
        
    </div>
    
    <div class="gameTable">
        <app-box [curB]="curB"
    [quantityes]="quantityes"
    [popAnimation]="popAnimation"
    ></app-box>
    </div>
</div>