<div class="wholePage">
    <div class="header">

        <div class="gameName">
            <h1>2048</h1>
        </div>
        <div class="pointsTable">
            <div class="score">
                <span> Total Points </span>
                <span>{{ totalPoints }}</span>
            </div>
            <div class="score">
                <span> Your Record </span>
                <span>{{ yourRecord }}</span>
            </div>
            <div>
                <button mat-raised-button (click)="resetGame()">Reset Game</button>
            </div>
            <div>
                <button mat-raised-button (click)="openDialog()">Regras/Rules</button>
            </div>
        </div>
    </div>
    
    <div class="gameTable">
        <div class="mask">
        </div>
        <app-box [curB]="curB"
    [quantityes]="quantityes"
    ></app-box>
    </div>
</div>