<h1 mat-dialog-title>Rules/Regras</h1>
<div mat-dialog-content>
    <p>
        Use as setas <mat-icon>arrow_back</mat-icon>, <mat-icon>arrow_downward</mat-icon>, <mat-icon>arrow_forward</mat-icon> and <mat-icon>arrow_upward</mat-icon> para controlar a direção para onde os bloquinhos serão jogados.
    </p>
    <p>
        Quando dois bloquinhos de mesmo valor se chocam, eles se somam.
    </p>
    <p>
        Seu objetivo é chocar os bloquinhos até chegar num cujo valor seja 2048. Ou mais ;)
    </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close/Fechar</button>
</div>
    
