<h1 mat-dialog-title>Regras/Rules</h1>
<div mat-dialog-content>
    <h3>PT</h3>
    <p>
        Use as setas <mat-icon>arrow_back</mat-icon>, <mat-icon>arrow_downward</mat-icon>, <mat-icon>arrow_forward</mat-icon> e <mat-icon>arrow_upward</mat-icon> ou arraste o dedo na tela para controlar a direção para onde os bloquinhos serão arremessados.
    </p>
    <p>
        Quando dois bloquinhos de mesmo valor se chocam, eles se somam.
    </p>
    <p>
        Seu objetivo é chocar os bloquinhos até chegar num bloquinho cujo valor seja 2048. Ou maior... ;)
    </p>
    <h3>EN</h3>
    <p>
        Use the keyboard arrows <mat-icon>arrow_back</mat-icon>, <mat-icon>arrow_downward</mat-icon>, <mat-icon>arrow_forward</mat-icon> and <mat-icon>arrow_upward</mat-icon> or slide your finger on the screen to define in which direction the tiles will be thrown.
    </p>
    <p>
        When two tiles with the same value and color colide, they become a tile with double the previous value.
    </p>
    <p>
        Your goal is to colide as many blocks you can to create bigger tiles until reaching 2048. Or even more... ;)
    </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar/Close</button>
</div>
    
